@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Accueil";
    Layout = "~/Views/Shared/_Principal.cshtml";
}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center justify-content-center">
        <div class="container" data-aos="fade-up">

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
                <div class="col-xl-6 col-lg-8">
                    <h1 style="font-size: 40px;">Gagnez de l'argent en recyclant les déchets plastiques <span>!</span></h1>
                    <h2> Nous faisons la différence .</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="~/img/img/main/trabalho-em-equipe-do-negocio-que-constroi-a-ilustracao-do-trabalho-do-enigma-da-ampola_159757-20.png" width="100%" height="100%" class="img-fluid" alt="">
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <h3>Système automatique de collecte des déchets plastiques en zones aquatique.</h3>
                        <p class="fst-normal">
                            il s'agit d'un écosysteme axé sur le recyclage plastique en zone d'eau. Il comprend donc :
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i> Un rideau de bulles d'air</li>
                            <li><i class="ri-check-double-line"></i> un bac intélligent </li>
                            <li><i class="ri-check-double-line"></i> un bras mécanique </li>
                            <li><i class="ri-check-double-line"></i> Une application pour la gestion de ses activités</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Counts Section ======= -->
        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">

                <div class="row no-gutters">
                    <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start" data-aos="fade-right" data-aos-delay="100"></div>
                    <div class="col-xl-7 ps-0 ps-lg-5 pe-lg-1 d-flex align-items-stretch" data-aos="fade-left" data-aos-delay="100">
                        <div class="content d-flex flex-column justify-content-center">
                            <h3> La situation de nos villes </h3><br>
                            <p>
                                Les déchets plastiques prennent une place considerable dans notre quotidien. Agissons maintenant pour un bel avenir et un envirronement sain !
                            </p><br>
                            <div class="row">
                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-emoji-smile"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="600" data-purecounter-duration="2" class="purecounter"></span>
                                        <p>million de tonnes de <strong>Déchets plastiques</strong> / an</p>
                                    </div>
                                </div><br>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-journal-richtext"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="76" data-purecounter-duration="2" class="purecounter"></span>
                                        <p><strong> Villes concernées</strong> </p><br>
                                    </div>
                                </div><br>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-clock"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="4" class="purecounter"></span>
                                        <p>million de <strong>Personnes touchées </strong> </p><br>
                                    </div>
                                </div><br>

                                <div class="col-md-6 d-md-flex align-items-md-stretch">
                                    <div class="count-box">
                                        <i class="bi bi-award"></i>
                                        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="4" class="purecounter"></span>
                                        <p><strong>Associations actives </strong> </p><br>
                                    </div>
                                </div><br>
                            </div>
                        </div><!-- End .content-->
                    </div>
                </div>
            </div><br />
            <div class="embed-responsive embed-responsive-16by9 d-flex align-items-stretch p-lg-5 w-100">
                <h2 class="w-25 text-center"> Et ailleur ... </h2>
                <video controls="controls" style="margin-left: 25%;">
                    <source src="~/videos/LaPollution.mp4" type="video/mp4" />
                </video>
            </div>
        </section><!-- End Counts Section -->
        <!-- ======= Features Section ======= -->
        <section id="features" class="features">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                        <img src="~/img/img/hommeAfricain.jpg" />
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right" data-aos-delay="100">
                        <div class="icon-box mt-5 mt-lg-0" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-receipt"></i>
                            <h4>Adoptons les bonnes pratiques</h4>
                            <p>Reduisons l'extension des déchets plastiques en priorisant l'usage des emballages biodégradables, en triant nos déchets ou en les recyclant.</p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-cube-alt"></i>
                            <h4>Créons des emplois</h4>
                            <p>
                                Les déchets plastiques sont la matière première de nombreuses entreprises dans le monde mais très peu au Cameroun. Débuter votre activité autour du
                                recyclage et associez-vous à des collecteurs, ou devenez en un et gagnez de l'argent aisement avec notre Système.
                                <br><br> <a href="login.html" class="get-started-btn scrollto suscribe"> Inscrivez-vous </a>
                            </p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-images"></i>
                            <h4>Néttoyons nos eaux</h4>
                            <p> Redonnons son identité à l'océan ! Débarassons la des ordures qui la polluent pour une vie plus saine. Et en plus <strong> ça peut rapporter GROS !</strong></p>
                        </div>
                        <div class="icon-box mt-5" data-aos="zoom-in" data-aos-delay="150">
                            <i class="bx bx-shield"></i>
                            <h4>Managez vos activités efficacement avec nos services</h4>
                            <p> L'application ROCLO vous permettra de de mieux gerer vos activités autours de nos equipements.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- End Features Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
            <div class="container" data-aos="zoom-in">

                <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                    <div class="swiper-wrapper">

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/img/img/Processus-de-recyclage2.jpg" class="testimonial-img" alt="">
                                <h3>Economie circulaire</h3>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/img/img/PET-recycling.gif" class="testimonial-img" alt="">
                                <h3>Plastique 100% recyclable</h3>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/img/img/597afa9cd90c8_comment-recycler-le-plastique.png" class="testimonial-img" alt="">
                                <h3>Adoptons le tri de nos déchets</h3>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/img/img/images0.jpeg" class="testimonial-img" alt="">
                                <h3>La collecte du plastique est rentable</h3>
                            </div>
                        </div><!-- End testimonial item -->

                        <div class="swiper-slide">
                            <div class="testimonial-item">
                                <img src="~/img/img/images.jpeg" class="testimonial-img" alt="">
                                <h3>La pollution plastique, il n'y a pas que nous qui en souffrons !</h3>
                            </div>
                        </div><!-- End testimonial item -->
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

            </div>
        </section><!-- End Testimonials Section -->
        <div class="embed-responsive embed-responsive-16by9 d-flex align-items-stretch p-lg-5 w-100">
            <h2 class="w-25 text-center"> Le tri, oui mais comment ?</h2>
            <video controls="controls" style="margin-left: 25%;">
                <source src="~/videos/LeTri.mp4" type="video/mp4" />
            </video>
        </div>

        <!-- ======= Clients Section ======= -->
        <section id="clients" class="clients">
            <div class="container" data-aos="zoom-in">
                <h2 style="color:limegreen;">
                    <strong> Ils ont compris l'enjeu !! </strong>
                </h2><br />

                <div class="clients-slider swiper-container">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="~/img/clients/Google_Logo_2013.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/Hysacam.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/logo-Paprec-1024x350.jpg" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/logo-pnud1.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/nameLogo.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/orange.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/Sisley-Logo.png" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="~/img/clients/odc.png" class="img-fluid" alt=""></div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section><!-- End Clients Section -->
    </main><!-- End #main -->